{% extends 'main/layout.html' %}

{% block title %}
    Про нас
{% endblock %}


{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Башкортостан, Отчизна дорогая,
Ты для нас священная земля.
С Урала солнце всходит, озаряя
Наши горы, реки и поля.
Припев:
Славься, наш Башкортостан!
Судьбой народу ты для счастья дан!
С Россией мы едины - и всегда
Процветай, Башкортостан!
Башкортостан - ты наша честь и слава,
Доброй волей, дружбой ты силен.
И стяг твой реет гордо, величаво -
Он свободой, братством окрылен.
Припев:
Славься, наш Башкортостан!
Судьбой народу ты для счастья дан!
С Россией мы едины - и всегда
Процветай, Башкортостан!
Республика, сияй звездой прекрасной,
Ты ликуй в свершеньях и трудах!
Родной очаг пусть никогда не гаснет,
Пусть ведут нас песни сквозь года.
Припев:
Славься, наш Башкортостан!
Судьбой народу ты для счастья дан!
С Россией мы едины - и всегда
Процветай, Башкортостан!</p>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" class="btn btn-danger">Просто нажми</a>
    </div>
{% endblock %}